internal/bin
*.log
.cache
*.tgz
*.tar.gz
*.tar
bin
pkg/bin
.venv
_build
build*
helm-charts/config.json
build
dev.env
build/
RPMS/*
SRPMS/*
BUILD/*
SOURCES/*
SPECS/*
BUILDROOT/*
.vscode
.cline_storage
.vscode
asset-build/*
.job.yml
box.rb
entrypoint.sh
branch_policy.yml
tools-internal/*
test/pytests/*
test/pytest/*
CLAUDE.md
.claude/*
.copilot/*
